---
layout: layout.liquid
title: Blogpost
---

<h1>My Favorite Artist: <strong>Prince</strong></h1>
<img alt="Prince" src="/images/prince.png"/>
<p> Prince is, without a doubt, one of the legends who has left their mark on music. I remember hearing “When Doves Cry” as a child, coming from the speakers as my mom drove me to school. The intricate guitar melodies and vocalizations mesmerized me, and I have been hooked ever since. To me, this song was one of the first songs that made me recognize all of the moving pieces when it came to music. Listening to my mom’s Purple Rain vinyl was the next step, as I needed to hear more of what he had to offer. Every song on the album captivated me uniquely: from the angsty ballad Purple Rain to the upbeat, optimistic Baby I’m a Star; I loved every song for a different reason.
Prince was a rare combination of someone talented in so many different ways. He could play over 20 instruments, write lyrics, dance, and sing while making it look effortless, frequently crossing the lines of genres like Funk, R&B, pop, rock, electronic, etc. In his discography, no two Prince songs sound the same.
Outside of his music, Prince broke barriers and blurred lines of gender, fashion, and identity--catalyzing the era of androgyny in the 1980s and doing so with his flamboyant attire consisting of heels, lace, makeup, bold colors, etc. He dressed in his style, unbothered by what anyone thought of it.  He was also pushing boundaries in his music with lyrics, performances, and visuals, discussing topics such as race, sexuality, etc., with confidence and self-assurance I admired from the first time I witnessed it.
He also fought for artist rights in his battle with Warner Bros. over control of his masters, which led him to change his name to an unpronounceable symbol in protest; he inspired future artists to maintain ownership of their work.
Even after his passing nearly 10 years ago, Prince’s influence remains everywhere. Artists today still reference him as an inspiration and aim to recreate the passion he brought to his artistry. However, there will never be another quite like him. 
For me, Prince isn’t just a favorite artist; I believe he is a symbol of creativity and what it means to be unapologetically and authentically yourself, and that legacy will never fade away. </p>
